@model _41505212__API.Models.Process

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Process</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProcessName" class="control-label"></label>
                <input asp-for="ProcessName" class="form-control" />
                <span asp-validation-for="ProcessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessType" class="control-label"></label>
                <input asp-for="ProcessType" class="form-control" />
                <span asp-validation-for="ProcessType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFramework" /> @Html.DisplayNameFor(model => model.IsFramework)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RequiresDefaultConfig" /> @Html.DisplayNameFor(model => model.RequiresDefaultConfig)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Submitter" class="control-label"></label>
                <input asp-for="Submitter" class="form-control" />
                <span asp-validation-for="Submitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessConfigUrl" class="control-label"></label>
                <input asp-for="ProcessConfigUrl" class="form-control" />
                <span asp-validation-for="ProcessConfigUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportUrl" class="control-label"></label>
                <input asp-for="ReportUrl" class="form-control" />
                <span asp-validation-for="ReportUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
